# See http://help.github.com/ignore-files/ for more about ignoring files.
# 
# compiled output
/dist
/tmp
*.html
*.txt



# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
testem.log
/typings/*
/.vscode/*
/.idea
.DS_Store


package-lock.json

